body {
  padding-top: 80px;
  word-wrap: break-word;
  background-image: url(img/maxresdefault.jpg);
  background-size: cover;  
  background-repeat: no-repeat;
}
h1,p{
  font-family: fantasy;
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #4475a291;
}